body {
    background-color:rgb(197, 197, 197);
}

.menu {
    list-style-type: none;
    display: inline-flex;
    gap: 80px;
    margin: auto;
    position: absolute;
    left: 18%;
    top: 30%;
}

a{
    text-decoration: none;
    color: white;
}

.play {
    list-style-type: none;
    display: inline-flex;
    gap: 230px;
    position: absolute;
    left: 27%;
    top: 40%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 22px;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

#b1 {
    background-color: rgb(95, 161, 112);
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#b1:active {
    background-color: darkseagreen;
}

#b2 {
    background-color: rgb(252, 163, 131);
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#b2:active {
    background-color:rgb(247, 177, 152) ;
}

#b3 {
    background-color: rgb(141, 91, 153);
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#b3:active {
    background-color:rgb(171, 145, 177) ;
}

/* RPC */

h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5%;
    margin-left: 5%;
}

#ch {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    top: 12%;
    left: 45%;
    margin-top: 5%;
}

.b {
    display: inline-flex;
    justify-content: center;
    margin-top: 8%;
    font-size: 40px;
}

#bs {
    margin-left: 44%;
}

#result {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
    font-family: monospace;
}

#back {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: rgb(95, 161, 112);
    position: absolute;
    bottom: 25%;
    left: 25%;
}

/*E or O*/

.center {
    text-align: center;   
}

#choice {
    margin-top: 1%;
    font-size: 20px;
}

.po {
    margin-right: 5%;
}

#pch {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
}

#num {
    margin-top: 3%;
    width: 10%;
    font-size: 20px;
}

#back2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: rgb(252, 163, 131);
    position: absolute;
    bottom: 25%;
    left: 25%;
}